$white: #fff;
$mint: #d8e2dc;
$beige: #ffe5d9;
$light-pink: #ffcad4;
$pink: #f4acb7;
$brown: #9d8189;

$input-box-shadow: inset 0 0 0px 1px rgba($brown, 0.2),
  0 1px 2px rgba($brown, 0.2);
$range-bg-color: rgba($mint, 0.5);
$range-handle-size: 20px;
$range-handle-color: $brown;
$range-handle-color-hover: darken($brown, 10%);

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  height: 100vh;
  font-size: 2rem;
  font-family: 'Spectral SC', serif;
  font-weight: 300;
  color: $brown;
}

section {
  grid-column: 1;
  min-width: 250px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba($light-pink, 0.15);

  h1 {
    font-weight: 400;
    font-family: 'Poiret One', sans-serif;
    font-size: 6rem;
    letter-spacing: 8px;
    margin: 30px 0;
    color: $brown;
  }

  .control {
    margin-bottom: 25px;
    text-align: center;
  }

  label {
    display: block;
  }

  .range-slider {
    input[type='range'] {
      margin: 10px 0;
      width: 100%;
      height: 10px;
      background: $range-bg-color;
      box-shadow: $input-box-shadow;
      border-radius: 50px;
      -webkit-appearance: none;
    }

    input[type='range']:focus {
      outline: none;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      cursor: pointer;
    }

    input[type='range']::-webkit-slider-thumb {
      margin-top: -10px;
      width: 30px;
      height: 30px;
      background: #ffffff;
      box-shadow: $input-box-shadow;
      border-radius: 50px;
      cursor: pointer;
      -webkit-appearance: none;
    }
  }

  .switch {
    margin-top: 35px;

    &__wrapper {
      display: flex;
      width: 220px;
    }

    &__element {
      flex: 1 1 0;
    }

    #fill {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: -9999px;
    }

    #fill + label {
      cursor: pointer;
      position: relative;
      box-shadow: $input-box-shadow;
      height: 30px;
      width: 60px;
      border-radius: 15px;
    }

    #fill + label:before {
      content: '';
      position: absolute;
      display: block;
      height: 30px;
      width: 30px;
      top: 0;
      left: 0;
      border-radius: 15px;
      background: rgba($brown, 0.2);
      transition: 150ms ease-in;
    }

    #fill + label:after {
      content: '';
      position: absolute;
      display: block;
      height: 30px;
      width: 30px;
      top: 0;
      left: 0;
      border-radius: 15px;
      background: $white;
      box-shadow: inset 0 0 0 1px rgba($brown, 0.2), 0 2px 4px rgba($brown, 0.2);
      transition: 150ms ease-in;
    }

    #fill:checked + label:before {
      width: 60px;
      background: rgba($mint, 0.5);
    }

    #fill:checked + label:after {
      left: 30px;
      box-shadow: inset 0 0 0 1px rgba($brown, 0.2), 0 2px 4px rgba($brown, 0.2);
    }
  }
}

canvas {
  grid-column: 2;
}
